<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udemy.materialdesign">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme">
        <activity android:name=".ui.ListaConteudoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.TextFieldActivity" />
        <activity android:name=".ui.BotoesActivity" />
        <activity
            android:name=".ui.ToolbarActivity"
            android:theme="@style/AppThemeNobar" />
        <activity
            android:name=".ui.NavigationDrawerActivity"
            android:theme="@style/AppThemeNobar" />
        <activity android:name=".ui.SelectionControlsActivity" />
        <activity android:name=".ui.DialogsActivity" />
        <activity android:name=".ui.SnackbarsToastsActivity" />
        <activity android:name=".ui.ProgressActivity"></activity>
    </application>

</manifest>